<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_statics %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div id="auth-content">
	<form action="" method="post" id="auth-form">
		{% csrf_token %}
		{{ form | crispy}}
		<input type="submit" value="Login">
		<input type="submit" onclick="window.location.href=' {% url 'home:homepage' %}'; return false;" value="Cancel">
	</form>
</div>
{% endblock %}
