<!DOCTYPE html>
{% extends 'base.html' %}
{% block extra_statics %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/auth.css'%}">
{% endblock %}
{% block content %}
<div id="auth-content">
<form method="post" action="" id="auth-form">
	{% csrf_token %}
	{{ form|crispy}}
<input type="submit" value="Create" onclick="window.location.href='{% url 'home:login' %}'">
	<input type="submit" onclick="window.location.href=' {% url 'home:homepage' %}'; return false;" value="Cancel">
</form>
</div>
{% endblock %}
