{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'wordle/wordle_styles.css' %}">
{% endblock %}
{% block content %}
<div id="title">Wordle</div>
<div id="grid">
	{% for guess in guesses %}
	<div class="row">
		{% for letter in guess %}
		<div class="letter">{{letter}}</div>
		{%endfor%}
	</div>
	{% endfor %}
	<h style="text-align: center;">{{winning_word}}</h1>
		<form method="post">
			{% csrf_token %}
			<input type="text" maxlength="5" minlength="5" name="guess" required>

		</form>

</div>
{% endblock %}
