{% extends 'base.html' %}
{% load static %}

{% block extra_statics %}
<link rel="stylesheet" href="{% static 'wordle/css/wordle_styles.css' %}">
<link rel="icon" href="{% static 'wordle/assets/favicon.ico'%}">
{% endblock %}
{% block content %}
<div id="page-content">
	<div id="title">Wordle</div>
	<h1 style="text-align: center;">{{winning_word}}</h1>
	<div id="grid">
		{% for guess in guesses %}
		<div class="row" id="row{{forloop.counter0}}">
			{% for letter in guess %}
			<div class="letter-container">{{letter}}</div>
			{% endfor %}
		</div>
		{% if guess|lower == winning_word %}
		<div id='game-result' data-won='true'></div>
		{% endif %}
		{% endfor %}
	</div>
	<div id="popup-overlay" class="hidden">
		<div id="popup-content">
			<p>YOU WON!!!!</p>
		</div>
	</div>
	<form method="post" id="user-post">
		{% csrf_token %}
	</form>
	<script src="{% static 'wordle/js/main.js' %}"></script>
	<script src="{% static 'wordle/js/pop_up.js' %}"></script>
</div>
{% endblock %}
