{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'wordle/css/wordle_styles.css' %}">
{% endblock %}
{% block content %}
<div id="title">Wordle</div>
<div id="grid">
	{% for guess in guesses %}
	<div class="row" id="row{{forloop.counter}}">
		{% for letter in guess %}
		<div class="letter-container">{{letter}}</div>
		{%endfor%}
	</div>
	{% endfor %}
	<form method="post">
		{% csrf_token %}
		<input id="guess-input" type="text" maxlength="5" minlength="5" name="guess" required
			autocomplete="off">

	</form>
	<script src="{% static 'wordle/js/main.js' %}"></script>


</div>
{% endblock %}
