html {
	font-family: monospace;
}

body {
	background-color: lightgrey;
	margin: 0;
}

#navbar {
	background-color: #25292E;
	height: 38px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar-socials {
	display: inline-flex;
	margin: 0 6px;
	width: 22px;
	height: 22px;
}
