html {
	font-family: monospace;
}

body {
	background-color: lightgrey !important;
	margin: 0;
}

#navbar {
	background-color: #25292E;
	height: 38px;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.navbar-socials {
	display: inline-flex;
	margin-left: auto;
	gap: 8px;
	padding-right: 10px;
}

.icon {
	width: 22px;
	height: 22px;
}

.navbar-home {
	margin: 0 6px;
	width: 34px;
	height: 34px;
}


#account-management {
	font-size: 16px;
	color: white;
	padding-left: 10px;
}

#sign-up {
	color: inherit;
	text-decoration: none !important;
}

#login {
	color: inherit;
	text-decoration: none !important;
}
