button {
	font-size: 14px;
	width: 90px;
	height: 50px;
	background-color: grey;
	border: 1px, solid, black;
	border-radius: 5px;
	transition: transform 0.3s ease;
	color: black;
	box-shadow: 1px, 1px, 2px, white;

}

button:hover {
	transform: translateY(-2px);
	cursor: pointer;
}

#title {
	text-align: center;
	font-size: 69px;
	padding-top: 10px;
	letter-spacing: 6px;
	text-shadow: 1px 1px 4px grey;
}

#grid {
	display: flex;
	height: 700px;
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	flex-direction: column;
	align-content: center;
}

.row {
	display: flex;
	justify-content: center;
	margin: 0;
}

.letter.after {
	transform: rotateX(180deg);
	transition: transform 0.4s ease;

}

.letter-container {
	background-color: white;
	border-radius: 2px;
	display: inline-block;
	align-content: center;
	font-size: 40px;
	margin: 7px;
	width: 80px;
	height: 80px;
	border: 2px solid black;
	text-align: center;
	box-shadow: 1px 1px 2px lightgrey;
	text-transform: uppercase;
	transition: transform 0.4s ease, background 0.4s;
}

.letter-container.flip {
	transform: rotateX(180deg);
}

.correct {
	background-color: lightgreen;
}

.wrong {
	background-color: darkgrey;
}

.inside {
	background-color: yellow;
}

#popup-overlay {
	display: flex;
	position: fixed;
	flex-direction: column;
	left: 50%;
	top: 50%;
	z-index: 1000;
	border: 2px solid black;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	height: 40%;
	width: 20%;
	background-color: #454545;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s ease, visability 0.3s ease;
}

#options {
	display: inline-flex;
	justify-content: center;
	gap: 10px;
}

#popup-content {
	padding: 30px;
	color: white;
	box-shadow: 1px, 1px, 2px, grey;
	font-size: 24px;
}

.show {
	opacity: 1;
	visibility: visible;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}
