button {
	width: 50px;
	height: 50px;
	background-color: grey;
	border: 1px, solid, black;
	border-radius: 5px;
}

#title {
	text-align: center;
	font-size: 69px;
	padding-top: 10px;
	letter-spacing: 6px;
	text-shadow: 1px 1px 4px grey;
}

#grid {
	display: flex;
	height: 700px;
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	flex-direction: column;
	align-content: center;
}

.row {
	display: flex;
	justify-content: center;
	margin: 0;
}

.letter-container {
	background-color: white;
	border-radius: 2px;
	display: inline-block;
	align-content: center;
	font-size: 40px;
	margin: 7px;
	width: 80px;
	height: 80px;
	border: 2px solid black;
	text-align: center;
	box-shadow: 1px 1px 2px lightgrey;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px lightgrey;
}

.correct {
	background-color: lightgreen;
}

.wrong {
	background-color: darkgrey;
}

.inside {
	background-color: yellow;
}

#popup-overlay {
	display: flex;
	position: fixed;
	justify-self: center;
	align-self: center;
	z-index: 1000;
	border: 2px solid black;
	border-radius: 5px;
	height: 350px;
	width: 350px;
	background-color: #454545;
	opacity: 0;
	transition: opacity 0.3 ease;
}

#popup-content {
	padding: 2rem;
	text-align: center;
}

#popup-overlay:not(.hidden) {
	opacity: 1;
}

.hidden {
	display: none !important;
}
