<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Mini Games</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="icon" href="{% static 'assets/favicon.ico'%}">
	<link rel="stylesheet" href="{% static 'css_bootstrap/bootstrap.css'%}">
	{% block extra_statics %}{% endblock %}
</head>

<body>
	<div id="navbar">
		<a href="{% url 'home:homepage'%}">
			<img src="{% static 'assets/home.png'%}" alt="Home Page" class="navbar-home">
		</a>
		<div id="account-management">
			<a href="{% url 'home:sign_up' %}" id="sign-up">Sign up</a> | <a href="{% url 'home:login' %}"
				id="login">Login</a>
		</div>
		<div class="navbar-socials">
			<a href="https://github.com/Tachakar/MiniGames" target="_blank">
				<img class="icon" src="{% static 'assets/github-mark-white.png' %}" alt="GitHub Logo">
			</a>
			<a href="https://www.linkedin.com/in/mateusz-toczyski-629aa4242/" target="_blank">
				<img class="icon" src="{% static 'assets/InBug-White.png' %}" alt="LinikedIn Logo">
			</a>
		</div>
	</div>
	{% block content %}
	{% endblock %}
</body>

</html>
