h1 {
	text-align: center;
	font-size: 69px;
	margin: 15px;
	text-shadow: 1px 1px 4px grey;
	letter-spacing: 6px;
}


#container {
	background-color: white;
	display: flex;
	border: 2px solid black;
	border-radius: 5px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	width: 300px;
}


.game,
.game a,
.game span {
	display: block;
	font-size: 24px;
	margin: 3px;
	text-shadow: 1px 1px 1px lightgrey;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	margin: 0;
	padding: 1px 0;
}



.game a:hover {
	color: lightgrey;
}
